<div class="align-self-center">  
    <div class="text">
        <p class="py-5 text-center">Samuel Kodytek zablokoval použití IFRAME. Všechny stížnosti posílejte na <b>samuel.kodytek@educanet.cz</b></p>   
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="https://scontent.fprg2-1.fna.fbcdn.net/v/t1.0-9/12472745_211314875902093_5839893518371508249_n.jpg?_nc_cat=100&_nc_ohc=lwIF9pIfK2IAX99QqT6&_nc_ht=scontent.fprg2-1.fna&oh=6f7d9006a460c3e42ead825086f81544&oe=5E8DDE2A" class="samík">
          </div>
          <div class="flip-box-back">
            <img src="https://media1.tenor.com/images/b1a072a891aa6ee487b08a373ca5c0b5/tenor.gif?itemid=16021277" class="samík">
          </div>
        </div>
      </div>
</div>
    
<footer>Samuel těžce potrollil. Tohle je footer</footer>
