<H2>
    <p>Ty sellíš drogo, já jsem Khal Drogo ty debile
        Ty mrdáš fenu, já hledám krásku Targaryen
        Seš falešnej brněnský král jakože Joffrey
        Jsem jako Jon Snow nechcípnu i když jsem mrtvý.
    </p>

    <p>
        Mám tři flašky vína a v nich Doctora Maxe
Metal Gear Solid ve stínu je to má praxe
Můj názor anarchie vyryto mám na triku
Abych se nebál proti strachu pavouk na krku, Ej
    </p>

    <p>
        Můžu vám prcat ten fame, nemám auto já mám skate
Nemluv na mě vidím fake, proto sem uzavřenej
Nejvíc nenaviděnej, protože jsem odešel
A i když nedělám rap, tahle flow je fakt tlukot.
    </p>

    <p>
        Rocco Panko uhni přejede tě tank,
Tebe vychovala ulice a mě punk.
(4x)
    </p>

    <p>
        A nejsem ledovej a nejsem ani Done
Tvoje Ice queen má AIDS
Proto jí říkáš zlato radši mi ho jenom hoň
Chcete mě chytit? Ha? Vyhlašte si na mě honA..Woooh,... Ej, Ej, Woooh
    </p>

    <p>
        Okey, Yea, Jsem dítě slunečnice dítě ze stanice, Ej
Ve 3:15 halucinace prázdná sklenice.
Napíšu dopis na rozloučenou pro rodinu
Mario děvko složil jsem píseň pro splodinu
    </p>
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">

</H2>
<footer>Samuel těžce potrollil. Tohle je footer</footer>